.receita__botao{
    background-color: #8D0606;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 1rem;
    transition: all .1s ease-in-out;
}

.receita__botao:hover{
    background-color: #640505;
    cursor: pointer;
}