.receitas{
    background-color: #F1F1F1;
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 20px;
    width: 100vw;
    justify-content: center;
}