.text__descricao{
    color: #8C8888;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto;
    width: 50vw;
    word-wrap: break-word; 
}

@media screen and (min-width: 0){
    .text__descricao{
        width: 80vw;
    }
}